/* REPEATEABLE CLASS  AND TAGS*/
/* reset */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* width minimo */
body{
  min-width: 1200px;
  font-family: 'Roboto', sans-serif;
}
/* contenitore 1200px */
.container{
  border: 1px dashed #00f;
  width: 1200px;
  margin: 0 auto;
}
/* reset per float */
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
/* float sinistra */
.fl{
  float: left;
}
/* float destra */
.fr{
  float: right;
}
/* navbar */
.navbar{
  width: 100%;
  height: 60px;
}
/* box nelle navbar */
.navbox{
  /* height: 60px; */
  line-height: 60px;
}
/* bottone */
.button{
  max-width: 200px;
  height: 35px;
  line-height: 35px;
  padding: 0 20px;
  border-radius: 5px;
  text-align: center;
}
/* bottone bianco */
.type-a{
  border: 2px solid #fc8d44;
  background-color: #fff;
}
/* bottone arancione */
.type-b{
  background-color: #fc8d44;
}
/* link bottone bianco */
a > .type-a{
  color: #fc8d44;
}
/* link bottone arancione */
a > .type-b{
  color: #fff;
}
/* edit link */
a{
  text-decoration: none;
  color: #000;
}
/* colore sfondo main */
main{
  background-color: #c9f3ff;
  text-align: center;
}
/* box nel main */
.box{
  max-width: 600px;
}
/* inbox nei box */
.inbox{
  text-align: center;
}
/* sfondo particolare */
.particular{
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
  width: 100%;
  text-align: center;
  color: #fff;

}
/* box particular */
.boxp{
  width: 25%;
}
/* font numeri nei particular */
.num{
  font-size: 40px;
  font-weight: bolder;
}
/* simbolo + dopo numeri nei particular */
.plus::after{
  content: "+";
  font-size: 0.5em;
  vertical-align: 7px;

}
/* sfondo ultima parte del main */
.background{
  background-color: #fff;
}
/* SELECTED AND SINGLE CLASS */
/* HEADER */
.navbar:first-child{
  background-color: #c9f3ff;
  border-bottom: 1px solid #000;

}
/* prima navbar - liste orizzontali */
header > .navbar:first-child > .container > .navbox > ul > li{
  display: inline-block;
  padding: 0 20px;
}
/* prima navbar - bordo nella lista */
header > .navbar:first-child > .container >.fl > ul > li:first-child{
  border-right: 1px solid #000;
}
/* prima navbar - liste orizzontali */
header > .navbar:nth-child(2) > .container > .navbox > ul > li{
  display: inline-block;
  padding: 0 20px;
}
/* centratura logo in navbar 2 */
.logo{
  margin-top: 10px;
}
/* edit jumbotron */
.jumbotron{
  width: 100%;
  height: 610px;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-color: #fff5ee;
  padding: 50px;
}
/* titolo jumbodron */
.mainjumbo{
  width: 450px;
  height: 300px;
  font-size: 22px;
}
/* titolo mainjumbo */
.mainjumbo > h1{
  padding-bottom: 20px;
}
/* paragrafo mainjumbo */
.mainjumbo > p:first-of-type{
  font-size: 16px;
  padding-bottom: 20px;
}
/* nota a piè di pagina mainjumbo */
.mainjumbo > p:nth-of-type(2){
  font-size: 10px;
  padding-top: 20px;
}
/* barra grigia header */
header > .navbar:last-child{
  background-color: grey;
  border-top: 3px solid brown;
  border-bottom: 3px solid brown;
}
/* END HEADER */
/* MAIN */
/* main immagine centrata */
main > .container:first-of-type > img{
  padding-top: 50px ;
  padding-bottom: 15px;
}
/* main paragrafo centrato */
main > .container:first-of-type > p{
  width: 600px;
  display: inline-block;
  padding-top: 15px;
}
/* padding del secondo container */
main > .container:nth-of-type(2){
  padding: 50px 100px;
}
/* padding dell'immagine nel box sinistro del secondo container  */
main > .container:nth-of-type(2) > .fl > img{
  padding-top: 10px;
  padding-bottom: 50px;
}
/* editing bottone link nel box sinistro del secondo container */
main > .container:nth-of-type(2) > .fl > a > .button{
  margin-bottom: 20px;
  height: 45px;
  line-height: 45px;
}
/* allineamento testo nel box destro del secondo container */
main > .container:nth-of-type(2) > .fr{
  text-align: left;
}
/* titolo nel box destro del secondo container  */
main > .container:nth-of-type(2) > .fr > h2{
  padding-bottom: 25px;
}
/* bold allo span nel box destro del secondo container */
main > .container:nth-of-type(2) > .fr > span{
  font-weight: bolder;
  margin: 25px 0;
  display: inline-block;
  width: 100%;
  font-size: 18px;
  line-height: 20px;
}
/* linea nel box destro del secondo container */
main > .container:nth-of-type(2) > .fr > span:before {
    content: '';
    display: block;
    float: right;
    width: 65%;
    height: 2px;
    margin-top: 9px;
    background-color: #899397;
}
/* lista orizzontale nel box destro del secondo container */
main > .container:nth-of-type(2) > .fr > ul > li{
  display: inline-block;
}
/* check allineati al testo nella lista */
main > .container:nth-of-type(2) > .fr > ul > li > img{
  vertical-align: bottom;
}
/* padding-top del terzo container */
main > .container:nth-of-type(3){
  padding-top: 20px;
  padding-bottom: 60px;
}
/* margine verticale tra i box interni del terzo contenitore */
main > .container:nth-of-type(3) > .box > .inbox:first-of-type{
  margin-bottom: 70px;
}
/* dimensioni box del terzo container */
main > .container:nth-of-type(3) > .box{
  width: 33%;
}
/* padding del titolo dei box del terzo container */
main > .container:nth-of-type(3) > .box > .inbox > h3{
  padding: 15px 0 ;
}
/* edit del paragrafo dei box del terzo container */
main > .container:nth-of-type(3) > .box > .inbox > p{
  width: 50%;
  display: inline-block;
}
/* titolo secondo inbox del terzo container */
main > .container:nth-of-type(3) > .box > .inbox > h4{
  text-transform: uppercase;
  padding: 15px 0;
}
/* edit lista con check del terzo container */
main > .container:nth-of-type(3) > .box > .inbox > ul{
  list-style-image: url(../img/check-orange.png);
  display: inline-block;
  text-align: left;
  padding-bottom: 50px;
}
/* centratura bottone del terzo contenitore */
main > .container:nth-of-type(3) > .box > .inbox > div{
  margin:0 auto;
}
/* colore bottone del terzo contenitore */
main > .container:nth-of-type(3) > .box > .inbox > div > a{
  color: #fff;
}
/* edit titolo particular */
.particular > .container:first-of-type > h2{
  width: 70%;
  font-size: 26px;
  display: inline-block;
  padding-top: 30px;
  padding-bottom: 30px;
}
/* margine del secondo container in particular */
.particular > .container:nth-of-type(2){
  margin-top: 50px;
}
/* bordi a destra dei box in particular */
.boxp:first-child, .boxp:nth-child(2), .boxp:nth-child(3), .boxp:nth-child(5), .boxp:nth-child(6), .boxp:nth-child(7){
  border-right: 1px solid #fff;
}
/* bordi centrali dei box in particular */
.boxp:first-child, .boxp:nth-child(2), .boxp:nth-child(3), .boxp:nth-child(4){
  border-bottom: 1px solid #fff;
}
/* distanziamento immagini nel particulaar */
.boxp > img{
  padding: 30px 0;
}
/* edit testi minuscoli in box dei particular */
.boxp > p{
  font-size: 14px;
  padding: 30px 0 ;
}
/* centratura testo a sinistra nel float a sinistra del quinto container */
.background > .container:first-child > .box{
text-align: left;
}
.background > .container:first-child{
  padding: 70px 0 30px 0;
}
.background > .container:first-child > .fl{
  padding-left: 120px;
}
/* titolo del float sinistro del quinto container */
.background > .container:first-child > .fl > h2{
  font-size: 40px;
}
/* testo del float sinistro del quinto container */
.background > .container:first-child > .fl > ul > li{
  list-style: none;
}
/* bold nel testo */
.background > .container:first-child > .fl > ul > li > span{
  font-weight: bold;
}
/* float destro del quinto container */
.background > .container:first-child > .fr{
  width: 600px;
  padding-right: 120px;
}
/* dimensioni box float destro del quinto container */
.background > .container:first-child > .fr > .inbox{
  width: 25%;
  height: 50px;
  margin-bottom: 50px;
}
/* ridimensionamento immagini */
.background > .container:first-child > .fr > .inbox > img{
  width: 80%;
}
.background > .container:nth-child(2) > .fl{
  width: 40%;
  text-align: left;
  padding: 20px 0;
}
.background > .container:nth-child(2) > .fl > h2{
  font-size: 35px;
  font-weight: bolder;
}
.background > .container:nth-child(2) > .fl > a > .button{
  height: 60px;
  line-height: 60px;
}
.background > .container:nth-child(2) > .fl > p:first-of-type{
  font-size: 15px;
  width: 80%;
  font-weight: lighter;
  padding: 40px 0;
}
.background > .container:nth-child(2) > .fl > p:last-of-type{
  font-size: 10px;
  font-weight: lighter;
  padding-top: 40px;
}
.background > .container:nth-child(2) > .fr > img{
  width: 50%;
  height: 50%;
}
